* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.container {
    width: 1000px;
    margin: 15px auto;
}

header {
    background-color: #E579E6;
}

main {
    margin-top: 20px;
}


main .first-section {
    background-color: #E1D67A;
}


/* main second section attributes */

main section.second-section {
    background-color: #0684FC;
    margin-top: 20px;
}

main .second-section .title {
    background-color: #82BFFA;
}

.main {
    margin-top: 16px;
}

.paragraph {
    width: calc(100% / 5);
    float: left;
    background-color: #82BFFA;
}

.paragraph-center {
    width: calc((100% / 5)*3 - 26px);
    float: left;
    background-color: #82BFFA;
    margin: 0 13px 16px 13px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* / main second section attributes */


footer {
    background-color: #8801FE;
    margin-top: 5px;
}