* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 10px auto;
}

header {
    color: white;
    background-color: #E579E6;
}

main {
    margin-top: 20px;
}

main .first-section {
    color: white;
    background-color: #E1D67A;
}

